html {
  font-size: 10px;
  background: url("./images/CuteBuddha.gif") bottom;
  background-size: auto 36rem;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-wrapper {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 0.1rem solid #888888;
  border-radius: 0.5rem;
  /* margin: 1.5rem; */
  font-size: 1.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  text-decoration: none;

  box-shadow: 2px 3.5px #888888;
  transform: translateY(45%);

  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #888888;
  text-shadow: 0 0 0.2rem whitesmoke;

  transition: all 0.2s ease-in;
}

.btn:hover {
  cursor: pointer;

  box-shadow: 0 0 30px 0 #f1e5b9;
  border: #f1e5b9;
  background-color: #fce287;
  color: white;
  text-shadow: none;

  width: 15rem;
  padding: 1rem;
}
