body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn-wrapper {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 0.1rem solid whitesmoke;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);

  box-shadow: 2px 3.5px whitesmoke;
  transform: translateY(45%);

  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: whitesmoke;
  text-shadow: 0 0 0.2rem whitesmoke;

  transition: all 0.2s ease-in;
}

.btn:hover {
  cursor: pointer;

  box-shadow: 0 0 30px 0 #f1e5b9;
  border: #f1e5b9;
  background-color: #fce287;
  color: white;
  text-shadow: none;

  width: 15rem;
  padding: 1.5rem;
}

/* For mobile phones: */
@media only screen and (max-width: 450px) {
  html {
    height: auto;
    width: auto;
    background: bottom url("./images/CuteBuddha.gif");
    background-size: contain;
  }

  .btn {
    font-size: 0.9rem;
    width: 6rem;
    transform: translateY(-355%);
  }
}

@media only screen and (min-width: 500px) {
  html {
    width: auto;
    background: top url("./images/CuteBuddha.gif");
    background-size: contain;
  }
  /* For tablets: */
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  html {
    font-size: 10px;
    background: center/ 30% 35% url("./images/CuteBuddha.gif");
  }
  .btn {
    transform: translateY(-235%);
  }
}
